# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.db
*.sqlite3
*.log
*.env
*.egg-info/
.DS_Store

# Virtual environments
venv/
.env/

# IDE files
.vscode/
.idea/

# Byte-compiled / optimized / DLL files
*.py[cod]

# Distribution / packaging
.Python
build/
dist/
*.egg
*.egg-info/
*.manifest
*.spec

# Unit test / coverage reports
htmlcov/
.tox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.py,cover
.hypothesis/

# Jupyter Notebook
.ipynb_checkpoints

# macOS
*.DS_Store

# Windows
Thumbs.db
*.stackdump

# Logs and databases
*.log
*.sql
*.sqlite3
